<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}

    <p>{{wellcomeMessage}}</p>

  </body>
  {{> footer}}
</html>
